In [86]:
import pandas as pd
import numpy as np
from datetime import datetime

In [87]:
cities = {'chicago':'Desktop/chicago.csv', 'new york':'Desktop/new_york_city.csv','washington':'Desktop/washington.csv'}

In [88]:
print("Hey! Here you can explore bikeshare data of Chicago, new york and washington- available only in English")

def get_input():
    while True:
        c=input('\n Enter the city name').lower()
        if c in ['chicago', 'new york', 'washington']:
            break
        else:
            print('Invalid input.Please try again')
    return c

city=get_input()
file= cities[city]
df = pd.read_csv(file)
df.head()

Hey! Here you can explore bikeshare data of Chicago, new york and washington- available only in English

 Enter the city namechicago

,Unnamed: 0,Start Time,End Time,Trip Duration,Start Station,End Station,User Type,Gender,Birth Year
0,1423854,6/23/2017 15:09,6/23/2017 15:14,321,Wood St & Hubbard St,Damen Ave & Chicago Ave,Subscriber,Male,1992.0
1,955915,5/25/2017 18:19,5/25/2017 18:45,1610,Theater on the Lake,Sheffield Ave & Waveland Ave,Subscriber,Female,1992.0
2,9031,1/4/2017 8:27,1/4/2017 8:34,416,May St & Taylor St,Wood St & Taylor St,Subscriber,Male,1981.0
3,304487,3/6/2017 13:49,3/6/2017 13:55,350,Christiana Ave & Lawrence Ave,St. Louis Ave & Balmoral Ave,Subscriber,Male,1986.0
4,45207,1/17/2017 14:53,1/17/2017 15:02,534,Clark St & Randolph St,Desplaines St & Jackson Blvd,Subscriber,Male,1975.0

In [89]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300000 entries, 0 to 299999
Data columns (total 9 columns):
Unnamed: 0       300000 non-null int64
Start Time       300000 non-null object
End Time         300000 non-null object
Trip Duration    300000 non-null int64
Start Station    300000 non-null object
End Station      300000 non-null object
User Type        300000 non-null object
Gender           238948 non-null object
Birth Year       238981 non-null float64
dtypes: float64(1), int64(2), object(6)
memory usage: 20.6+ MB

In [90]:
#Dropping the rows where at least one element is missing.
df_clean=df.dropna()

In [91]:
df_clean.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 238948 entries, 0 to 299999
Data columns (total 9 columns):
Unnamed: 0       238948 non-null int64
Start Time       238948 non-null object
End Time         238948 non-null object
Trip Duration    238948 non-null int64
Start Station    238948 non-null object
End Station      238948 non-null object
User Type        238948 non-null object
Gender           238948 non-null object
Birth Year       238948 non-null float64
dtypes: float64(1), int64(2), object(6)
memory usage: 18.2+ MB

In [92]:
#Changing into format
df_clean['Start Time'] = pd.to_datetime(arg = df_clean['Start Time'])
df_clean['End Time'] = pd.to_datetime(arg = df_clean['End Time'])

#Adding new columns 
df_clean['month'] = df_clean['Start Time'].dt.month
df_clean['day_of_week'] = df_clean['Start Time'].dt.weekday_name
df_clean['hour'] = df_clean['Start Time'].dt.hour
df_clean.head()

C:\Users\Kritika\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

C:\Users\Kritika\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until
C:\Users\Kritika\Anaconda3\lib\site-packages\ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

C:\Users\Kritika\Anaconda3\lib\site-packages\ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  import sys
C:\Users\Kritika\Anaconda3\lib\site-packages\ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

,Unnamed: 0,Start Time,End Time,Trip Duration,Start Station,End Station,User Type,Gender,Birth Year,month,day_of_week,hour
0,1423854,2017-06-23 15:09:00,2017-06-23 15:14:00,321,Wood St & Hubbard St,Damen Ave & Chicago Ave,Subscriber,Male,1992.0,6,Friday,15
1,955915,2017-05-25 18:19:00,2017-05-25 18:45:00,1610,Theater on the Lake,Sheffield Ave & Waveland Ave,Subscriber,Female,1992.0,5,Thursday,18
2,9031,2017-01-04 08:27:00,2017-01-04 08:34:00,416,May St & Taylor St,Wood St & Taylor St,Subscriber,Male,1981.0,1,Wednesday,8
3,304487,2017-03-06 13:49:00,2017-03-06 13:55:00,350,Christiana Ave & Lawrence Ave,St. Louis Ave & Balmoral Ave,Subscriber,Male,1986.0,3,Monday,13
4,45207,2017-01-17 14:53:00,2017-01-17 15:02:00,534,Clark St & Randolph St,Desplaines St & Jackson Blvd,Subscriber,Male,1975.0,1,Tuesday,14

In [ ]:
df_clean['Gender'] = df_clean['Gender'].map({'Female': 1, 'Male': 0})
df_clean['day_of_week'] = df_clean['day_of_week'].map({'Monday': 'mon', 'Tuesday': 'tue','Wednesday':'wed','Thursday':'thu','Friday':'fri','Saturday':'sat','Sunday':'sun'})
df_clean.head()

In [ ]:
# Calculating age and adding age column then removing column Birth year
df_clean['Birth Year']=df_clean['Birth Year'].astype(int)  
df_clean['c_year'] = int(datetime.now().year)
df_clean['age']=df_clean['c_year']-df_clean['Birth Year']

In [ ]:
df_clean.drop(columns=['Birth Year', 'c_year'])
df_clean.columns

In [ ]:
def get_filtered_by_month(df):
    m_input = input('Do you want a filter by month, y/n')
    if m_input =='y':
        while True:
            month = input("\n Enter month ( In first three letters like jan, feb...)").lower()
            if month in ['jan','feb','mar','apr','may','jun']:
                 break
            else:
                 print('Invalid_input.Please try again')
        df = df[df['month'] == month]
    return df
        
def get_filtered_by_day(df): 
    wd_input = input('Do you want a filter by day of the week, y/n')
    if wd_input =='y':
        while True :
            day = input("\n Enter month ( in first three letters like mon,tue... sun").lower()
            if day in ['mon','tue','wed','thu','fri','sat','sun']:
                break
            else:
                print('Invalid input.Please try again' )
        df = df[df['day_of_week'] == day]
    return df

In [ ]:
#Filter
df_clean=get_filtered_by_month(df_clean)
df_clean=get_filtered_by_day(df_clean)

# Exploratory Data Analysis

In [84]:
print('Hi again :), So! Which of the following do you want to know?')
print("""1.In which month of a year most of the people use the bikeshare system?
       \n2.In which day of a week  most of the people use the bikeshare system?
       \n3.In which hour of a day most of the people use the bikeshare system?
       \n4.What is the most commonly used start station?
       \n5.What is the most commonly used end station?-you can mention more than one values?
       \n6.What is the most frequent combination of start station and end station trip and its average duration?
       \n7.What is the mean age of the bikeriders?
       \n8.What is the gender of majority of bikeriders?
       \n\nEnter 12,468,or 246""")
i=str(input())
if '1' in i:
    print('Busiest month of a year: ' + str(df_clean.month.mode()[0]))
if '2' in i:
    print('Busiest day of a week: ' + str(df_clean.day_of_week.mode()[0]))
if '3' in i:
    print('Busiest Hour of a day: ' + str(df_clean.hour.mode()[0]))
if '4' in i:
    print('Most commonly used start station:  ', df_clean['Start Station'].value_counts().idxmax())
if '5' in i:
     print('Most commonly used end station:  ', df_clean['End Station'].value_counts().idxmax())
if '6' in i:
    combine_stations = df_clean['Start Station'] + "*" + df_clean['End Station']
    common_station = combine_stations.value_counts().idxmax()
    print('Most frequent used combinations are  ' + str((common_station.split('*')[0], common_station.split('*')[1])))
    df_t =df_clean.query('Start Station == common_station.split('*')[0] & End Station == common_station.split('*')[1]')
    print('Average duration of the trip is  ' + str(df_t['Trip Duration'].mean()+'mins'))
if '7' in i:        
    print('Age of majority bikeriders  ' + str(df_clean.age.mean()))
if '8' in i:
    print('Gender of majority of bikeriders  '+ str(df_clean.Gender.value_counts().idxmax()))

Hi again :), So! Which of the following do you want to know?
1.In which month of a year most of the people use the bikeshare system?

2.In which day of a week  most of the people use the bikeshare system?

3.In which hour of a day most of the people use the bikeshare system?

4.What is the most commonly used start station?

5.What is the most commonly used end station?-you can mention more than one values?

6.What is the most frequent combination of start station and end station trip and its average duration?

7.What is the mean age of the bikeriders?

8.What is the gender of majority of bikeriders?


Enter 12,468,or 246
1234
Busiest month of a year: 6
Busiest week of a month: 2
Busiest Hour of a day: 17
Most commonly used start station:   Clinton St & Washington Blvd